<!-- kui panna routerLink = "/mingi-aadress/mingi-muu", siis ta paneb alati
alates alguses http://localhost:4200/mingi-aadress/mingi-muu -->

<!-- kui panna routerLink= "mingi-aadress/mingi-muu",
siis lisab juurde olemasolevale asukohale ehk kui olen localhost:4200/admin lehel,
siis URL on selllele klikkides localhost:4200/admin/mingi-aadress/mingi-muu -->

<!-- console's n2itab sel juhul "cannot match any routes" --- see URL mis ta kokku pani v6i sai,
seda ei ole app-routingus (t2pselt need 10 mis v2lja kirjutatud) -->

<button routerLink= "lisa-ese" >Toodet lisama</button>
<button routerLink= "esemed">Vaata/kustuta tooteid</button>