<div class="navbar">
    <img class="logo" routerLink="/" src="assets/webship.png" alt="logo">
    <img class="cart-button" routerLink="ostukorv" src="assets/shopping-cart.png" alt="chart">

</div>

<!--ALT / alternative tekst. kui pilti miskip'rast n'ha ei ole, siis n'itab seda teksti v6i arendajad ei pea pilti [les otsima et vaadata mis seal taga peitub. riigiettev]tetel on n]ue pimedate jaoks sinna tekst panna-->

<!-- siia tulevad app-routing seest seosed millist lehte ta n'itab
millised URL pathil: siia asemel tuleb Componendi HTML -->
<router-outlet></router-outlet>